# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/
env/

# ==========================
# Pytest
# ==========================
.pytest_cache/
.cache/

# ==========================
# Playwright
# ==========================
playwright-report/
test-results/

# ==========================
# Reports
# ==========================
reports/

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Screenshots
# ==========================
screenshots/

# ==========================
# Videos
# ==========================
videos/

# ==========================
# Trace Files
# ==========================
traces/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# IDE Files
# ==========================
.idea/

# ==========================
# Coverage
# ==========================
.coverage
htmlcov/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Temporary Files
# ==========================
*.tmp
*.temp